data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">


    <xs:complexType name="pais">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="poblacion" type="xs:string"/>
            <xs:element name="tamaño" type="xs:string"/>
            <xs:element name="img" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
