data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">


    <xs:complexType name="libro">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="autor" type="xs:string"/>
            <xs:element name="categoria" type="xs:string"/>
            <xs:element name="año" type="xs:string"/>
            <xs:element name="imagen" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
